@tailwind base;
@tailwind components;
@tailwind utilities;

.single_family{
    background-color: #6bb15d;
}
.land{
    background-color: #d1486b;
}
.mobile{
    background-color: #884098;
}
.condos,.condo{
    background-color: #4483ff;
}
.townhomes,.townhouse,.condo_townhome,.condo_townhome_rowhome_coop{
    background-color: #0055ff;   
}
.farm{
    background-color: orange;
}
.other{
    background-color: gray;
}